@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.z-1000 {
  z-index: 1000;
}

.custom-form-comment {
  margin: -1rem;
  position: fixed;
  bottom: 4.5rem;
  background: white;
  padding: 1rem;
}

.custom-height-comment {
  height: calc(82vh - 5rem) !important;
}

.custom-emoji-style {
  height: 10rem;
}

.react-input-emoji--container {
  border-color: rgb(234, 234, 234);
  font-size: 15px;
  padding: 0 !important;
  margin: 1rem 0 !important;
  width: 100% !important;
  border-radius: 3px !important;
}
.react-emoji {
  display: flex;
  align-items: flex-end !important;
  width: 90% !important;
  flex-direction: column !important;
  margin-bottom: 0.5rem !important;
}
.react-input-emoji--placeholder {
  bottom: 58px !important;
  left: 12px !important;
}
.react-input-emoji--button {
  padding: 0 2px !important;
}
.react-input-emoji--button--icon {
  fill: #f9c533 !important;
}

.react-emoji-picker--wrapper {
  height: 36rem !important;
}
.react-emoji-picker {
  top: 8rem !important;
}

.text-container {
  max-width: 100%;
  overflow: hidden;
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.truncated-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 4rem;
  min-width: 4rem;
}

.bg-opacity-60 {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: "red" !important;
}
